﻿@model PL.Models.StopPhotoAddModel

@{
    ViewBag.Title = "Stops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add photo to stop</h2>

@using (Html.BeginForm("AddPhoto", "Stop", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StopId)

        <div class="form-group">
            <div class="control-label col-md-2">
                <label for="file">Photo</label>
            </div>
            <div class="col-md-10">
                <input type="file" name="File" id="File" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to all stops", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
