﻿@model PL.Models.StopDetailViewModel

@{
    ViewBag.Title = "Stop details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stop details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StopDto.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StopDto.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StopDto.Town)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StopDto.Town)
        </dd>
        <dt>
            Photos
        </dt>
        @{
            if (Model.PhotoIds.Count == 0)
            {
                <dd>
                    <strong class="text-danger">No photos</strong>
                </dd>
            }
        }
        @foreach (var photoId in Model.PhotoIds)
        {
            <dd>
                <img src='@Url.Action("GetImage", "Stop", new { id = photoId })' />
            </dd>
        }
        @Html.ActionLink("Add photo", "AddPhoto", new { stopId = Model.StopDto.ID })
    </dl>
</div>
<div>
    @Html.ActionLink("Back to all stops", "Index")
</div>