﻿@model PL.Models.StopListViewModel

@{
    ViewBag.Title = "Stops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stops</h2>
<br>

@using (Html.BeginForm("Index", "Stop", FormMethod.Get))
{
    <div>
        Name: @Html.TextBox("Name") <br>
        Town: @Html.TextBox("Town") <span>   </span>
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
}

<br>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Town
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Stops)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Town)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

