﻿@model BL.DTOs.Links.LinkDTO

@{
    ViewBag.Title = "Edit delay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit delay</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.RouteID)
        @Html.HiddenFor(model => model.VehicleID)
        @Html.HiddenFor(model => model.LeaveTime)

        <div class="form-group">
            @Html.LabelFor(model => model.Delay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Delay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Delay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to all links", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

