﻿@model BL.DTOs.Links.LinkDTO

@{
    ViewBag.Title = "Link details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Link details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Leave stop
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.Route.TwoStopRoutes.FirstOrDefault().LeaveStop.Stop.Name)
        </dd>
        <dt>
            Arrive stop
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.Route.TwoStopRoutes.LastOrDefault().ArriveStop.Stop.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaveTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LeaveTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
    </dl>
</div>

<h4>Stops</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Stop name
            </th>
            <th>
                Arrive time
            </th>
            <th>
                Leave time
            </th>
            <th>
                Kms to next stop
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Route.TwoStopRoutes.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Route.TwoStopRoutes.ElementAt(i).LeaveStop.Stop.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Route.LeaveAndArriveTimes.ElementAt(i).ArriveTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Route.LeaveAndArriveTimes.ElementAt(i).LeaveTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Route.TwoStopRoutes.ElementAt(i).LengthInKm)
                </td>
            </tr>
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Route.TwoStopRoutes.LastOrDefault().ArriveStop.Stop.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Route.LeaveAndArriveTimes.LastOrDefault().ArriveTime)
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to all links", "Index")
</div>