﻿@model PL.Models.LinkListViewModel

@{
    ViewBag.Title = "Links";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Links</h2>
<br>

@using (Html.BeginForm("Index", "Link", FormMethod.Get))
{
    <div>
        Leave stop: @Html.TextBox("leaveStop") <br>
        Arrive stop: @Html.TextBox("arriveStop") <span>   </span>
        @*@Html.TextBox("", Model.Links.FirstOrDefault().LeaveTime, new { @class = "datefield", type = "date" }) <span>   </span>*@
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
}

<br>
<table class="table">
    <thead>
        <tr>
            <th>
                Leave stop
            </th>
            <th>
                Arrive stop
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Links.FirstOrDefault().LeaveTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Links.FirstOrDefault().Delay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Links.FirstOrDefault().VehicleType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Links)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Route.TwoStopRoutes.FirstOrDefault().LeaveStop.Stop.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Route.TwoStopRoutes.LastOrDefault().ArriveStop.Stop.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LeaveTime)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Delay) | @Html.ActionLink("Edit", "EditDelay", new { id = item.ID }) 
                </td>
                <td>
                    @Html.DisplayFor(model => item.VehicleType)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
