﻿@model BL.DTOs.Tickets.TicketDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="top-buffer-large">

        <div class="col-sm-8">
            <h3>Ticket from @Html.DisplayFor(model => model.FromStopName) to @Html.DisplayFor(model => model.ToStopName)</h3>

            <div class="container row col-sm-12 top-buffer-large ">
                <div class="col-sm-6">
                    <span class="text">Is payed:</span>
                </div>
                <div class="col-sm-6  pull-left">
                    @{
                        <label input type="checkbox">@Html.DisplayFor(model => model.IsPayed)</label>
                    }
                </div>
            </div>


            <div class="container row col-sm-12 top-buffer-large ">
                <div class="col-sm-6">
                    <span class="text">Is canceled:</span>
                </div>
                <div class="col-sm-6  pull-left">
                    @{
                        <label input type="checkbox">@Html.DisplayFor(model => model.IsCanceled)</label>
                    }
                </div>
            </div>

            <p>
                @Html.ActionLink("Back to all tickets", "Index")
            </p>
        </div>
    </div>
</div>