﻿@using BL.DTOs.Tickets
@model PL.Models.TicketListViewModel

@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tickets</h2>
<br>

@using (Html.BeginForm("Index", "Ticket", FormMethod.Get))
{
    <div>
        From: @Html.TextBox("From") 
        To: @Html.TextBox("To") <span>   </span>
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
}

<br>
@Html.ActionLink("Buy Ticket", "Create")
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Price
            </th>
            <th>
                Payed
            </th>
            <th>
                Cancelled
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tickets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.FromStopName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ToStopName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(model => item.IsPayed)
                </td>
                <td>
                    @Html.DisplayFor(model => item.IsCanceled)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>