﻿@using System.Web.Mvc.Html
@using System.Linq
@model PL.Models.Companies.CompanyListViewModel

@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Companies</h2>
<br>

@using (Html.BeginForm("Index", "Company", FormMethod.Get))
{
    <div>
        Name: @Html.TextBox("Name") <span>   </span>
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
}

<br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Companies.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Companies.FirstOrDefault().PricePerKm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Companies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PricePerKm)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
