﻿@model PL.Models.Companies.CompanyDetailViewModel

@{
    ViewBag.Title = "Company details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Company details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.CompanyDTO.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyDTO.PricePerKm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyDTO.PricePerKm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyDTO.IsTicketReturnAllowed)
        </dt>
        <dd>
            @{
                if (Model.CompanyDTO.IsTicketReturnAllowed)
                {
                    <strong class="text-success">Allowed</strong>
                }
                else
                {
                    <strong class="text-danger">Not allowed</strong>
                }
            }
        </dd>
        <dt>
            Discounts
        </dt>
        @{
            if (Model.Discounts.Count == 0)
            {
                <dd>
                    <strong class="text-danger">No discounts available</strong>
                </dd>
            }
        }
        @foreach (var item in Model.Discounts)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.TicketType) <span>: </span>
                @Html.DisplayFor(modelItem => item.DiscountPercentage) <span> percents</span>
                @Html.ActionLink("Edit", "EditDiscount", new { priceCatalogueId = Model.CompanyDTO.PriceCatalogueId.Value, discountId = item.ID }) |
                @Html.ActionLink("Remove", "DeleteDiscount", new { priceCatalogueId = Model.CompanyDTO.PriceCatalogueId.Value, discountId = item.ID })
            </dd>
        }
        <dd>
            @Html.ActionLink("Create new", "CreateDiscount", new { priceCatalogueId = Model.CompanyDTO.PriceCatalogueId.Value })
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyDTO.ID }) |
    @Html.ActionLink("Back to all companies", "Index")
</div>