﻿@model PL.Models.Companies.DiscountViewModel

@{
    ViewBag.Title = "Remove discount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remove discount</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DiscountDTO.PriceCatalogueId)
    @Html.HiddenFor(model => model.DiscountDTO.ID)
    @Html.HiddenFor(model => model.DiscountDTO.DiscountPercentage)
    @Html.HiddenFor(model => model.DiscountDTO.TicketType)


    <div class="form-horizontal">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DiscountDTO.TicketType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DiscountDTO.TicketType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DiscountDTO.DiscountPercentage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DiscountDTO.DiscountPercentage)
            </dd>
        </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Remove" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to all companies", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}