﻿@model PL.Models.Companies.DiscountViewModel

@{
    ViewBag.Title = "Create discount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create discount</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DiscountDTO.PriceCatalogueId)

        <div class="form-group">
            @Html.LabelFor(model => model.DiscountDTO.TicketType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.DiscountDTO.TicketType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DiscountDTO.TicketType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DiscountDTO.DiscountPercentage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiscountDTO.DiscountPercentage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiscountDTO.DiscountPercentage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to all companies", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

