﻿@model PL.Models.Companies.DiscountViewModel

@{
    ViewBag.Title = "Edit discount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit discount</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Html.DisplayFor(model => model.DiscountDTO.TicketType)</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DiscountDTO.PriceCatalogueId)
        @Html.HiddenFor(model => model.DiscountDTO.ID)
        @Html.HiddenFor(model => model.DiscountDTO.TicketType)

        <div class="form-group">
            @Html.LabelFor(model => model.DiscountDTO.DiscountPercentage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiscountDTO.DiscountPercentage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiscountDTO.DiscountPercentage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to all companies", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

